@import "tailwindcss";
@plugin "daisyui" {
    themes: all;
}


body {
    font-family: var(--font-sans);
    overflow-x: hidden;
}

/* Base custom gradient for the text */
.text-gradient {
    background: linear-gradient(135deg, #06b6d4, #3b82f6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}